@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@800&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 460px;
    height: 330px;
    border-radius: 30px;
    overflow: auto;
    box-shadow: 20px 20px 30px rgba(89, 89, 242, 0.284)
}

.div1 {
    width: 50%;
    padding: 20px 40px;
    background: linear-gradient(to bottom left, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius:30px
}

.div1 .p1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 8px 0px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin: 23px 25px;
}

.total{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1;
}

.aside1 p {
    text-align: center;
    color: rgba(255, 255, 255, 0.439);
    font-size: 13px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.aside2 h1 {
    text-align: center;
    color: white;
    font-size: 23px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.aside2 p {
    margin: 10px 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.650);
    font-size: 12px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.div2 {
    width: 50%;
    padding: 20px 20px;
}

.div2 h1 {
    font-family: 'Hanken Grotesk', sans-serif;
}

.summary {
    margin: 20px 0px;
}

.summary1 {
    width: 100%;
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
    padding: 7px;
    margin: 10px 0px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.summary2 {
    width: 100%;
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
    padding: 7px;
    margin: 10px 0px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.summary3 {
    width: 100%;
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
    padding: 7px;
    margin: 10px 0px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.summary4 {
    width: 100%;
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
    padding: 7px;
    margin: 10px 0px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.value,.score{
    display: flex;
}
.value{
    gap: 5px;
    padding-left: 10px;
}
.score{
    gap: 5px;
    padding-right: 10px;
}
.score .p1{
    color: black;
    font-weight: bold;
}
.score .p2{
    color: rgba(0, 0, 0, 0.478);
}

.button {
    width: 100%;
    height: 35px;
    border-radius: 50px;
    margin: 10px 0px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .div1{
        width: 100%;
        height: 38  0px;
        border-radius: 0 0 30px 30px;
    }
    .div1 .p1{
        font-size: 20px;
        margin: 5px 0px;
    }
    .circle{
        height: 150px;
        width: 150px;
        margin: 25px 80px;
    }
    .aside2 h1{
        font-size: 30px;
    }
    .aside2 p{
        font-size: 17px;
    }
    .div2{
        width: 100%;
    }
    .div2 h1{
        margin: 0px 10px;
        padding: 10px 0px;
        font-size: 20px;
    }
    .summary{
        margin: 20px 10px;
    }
    .summary1,.summary2,.summary3,.summary4{
        height: 55px;
        font-size: 20px;
        margin: 20px 0px; 
        align-items: center;
        border-radius: 10px;
    }
    .value{
        gap: 10px;
    }
    .button{
         height: 60px;
    }
}